.nav-item:hover{

    color: white;
    font-weight: bolder;
    
    
}

li a:hover{
    text-decoration: none;
    color: white;
}

body{
    margin: 0px;
}

.navbar{
    padding:0px;
    z-index: 2000;
}

form button{
    margin-top: 2.5%;
	background: linear-gradient(-45deg, #7526BE, #e73c7e, #FF00E6);
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    padding: 10px 17.5px 10px 17.5px;
    border-radius: 100px;
    border-style: none;
    font-family: 'Montserrat', 'sans-serif';
    color: white;
    cursor: pointer;
    
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button:focus{
    outline: none;
}

.navbar-brand span{
    font-family: 'Anurati';
    font-size: 37.5px;
    color: white;
}

.navbar-brand{
    flex: 3;
    margin-left: 12.5px;
    margin-top: 2.5px;

}

