li a:hover{
    text-decoration: none;
    /* color: white; */
}

.sidenav li>a{
    color: #1a237e;
    font-weight: bold;
}

form #submit1, #submit2{
    margin-top: 2.5%;
	background: linear-gradient(-45deg, #82b1ff, #4527a0, #1a237e, #82b1ff);
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    padding: 10px 17.5px 10px 17.5px;
    border-radius: 100px;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
    
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button:focus{
    outline: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-logo{
      font-family: 'anuratiregular';
  }

  ul{
    font-family: 'Montserrat', sans-serif;
  }

  .datepicker-date-display{
      background-color: #1a237e;
  }

  .datepicker-cancel{
      color: #1a237e;
  }

  .datepicker-done{
    color: #1a237e;
}

.datepicker-table td.is-selected
{
    background-color: #1a237e;
}

.datepicker-table td.is-today td.is-selected {
    color: white;
}

/* Media Queries */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    .intro{
        background-size: 300% 115%;
    }

    .title-white{
        font-size: 5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
        flex: 1;
        margin-top: 0%;
        margin-bottom: 40%;
    }

    .title-black{
        font-size: 5rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-align: center;
        flex: 1;
        margin-top: 5%;
    }

    .img-output{
        display: flex;
        flex-direction: column;
        
    }

    .img-info{
        align-items: center;
        margin-top: 0;
    }

    .img-container{
        margin-top: 5%;
    }

    .gap1{
        height: 100vh;
    }

    .page-footer{
        height: 50vh;
        font-size: x-small;
    }
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .title-white{
        font-size: 8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
        flex: 1;
        margin-top: 0%;
        margin-bottom: 25%;
    }

    .img-output{
        display: flex;
        flex-direction: column;
        
    }

    .img-info{
        align-items: center;
        margin-top: 0;
    }

    .img-container{
        margin-top: 5%;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

    .intro{
        background-size: 250% 100%;
    }

    .title-white{
        font-size: 10rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
        flex: 1;
        margin-top: 0%;
        margin-bottom: 25%;
    }

    .apod, .neo{
        background-color: white;
        color: black;
        min-height: 55vh;
        display: flex;
        flex-direction: column;
    }

    .gap1{
        height: 55vh;
    }

    .page-footer{
        height: 45vh;
        padding-top: 10%;
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .intro{
        background-size: 250% 100%;
    }

    .title-white{
        font-size: 10rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
        flex: 1;
        margin-top: 0%;
        margin-bottom: 25%;
    }

    .apod{
        background-color: white;
        color: black;
        min-height: 25vh;
        display: flex;
        flex-direction: column;
    }

    .gap1{
        height: 55vh;
    }

    .page-footer{
        min-height: 55vh;
        padding-top: 10%;
        font-size: xx-large;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .intro {
        background: url(../images/earth.jpg);
        background-size: 115% 150%;
        background-position: center;
        background-attachment: fixed;
        /* overflow: hidden; */
    }
    
    .header{
        display: flex;
        flex-direction: row;
    }
    
    .intro{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }
    
    .intro .container{
        margin-bottom: 20%;
    }
    
    .title-white{
        font-size: 100 rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: white;
        text-align: center;
        flex: 1;
        margin-top: 20%;
        /* margin-bottom: 30%; */
    }
    
    .quote{
        margin-top: 20%;
        flex: 1;
        text-align: center;
        color: white;
        font-size: xx-large;
        font-family: monospace;
    }
    
    .search{
        margin-top: 5%;
        flex: 1;
        text-align: center;
    }
    
    input{
        width: 325px;
        padding: 15px;
        border-radius: 100px;
        border-style: none;
        opacity: 0.8;
    }
    
    input:focus{
        outline: none;
    }
    
    ::placeholder{
        font-family: 'Montserrat', sans-serif;
        font-size: medium;
        vertical-align: center;
        padding-left: 5px;
    }
    
    .apod img{
        width: 80%;
        height: auto;
        padding-bottom: 10%;
    }
    
    .title-black{
        font-size: 8rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-align: center;
        flex: 1;
        margin-top: 5%;
    }
    
    .apod{
        background-color: white;
        color: black;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .apod input{
        border: 1px solid black thin;
    }
    
    .img-output{
        display: flex;
        flex-direction: row;
        
    }
    
    .img-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .img-info{
        flex:1;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: center; */
        text-align: justify;
        margin-top: 5%;
        margin-bottom: 5%;
        /* border-left: 1px solid black; */
        /* padding-left: 5%; */
    
    }
    
    #apodLiteral{
        text-decoration: underline;
        position: relative;
        /* vertical-align: middle; */
    }
    
    .parallax p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: xx-large;
        color: white;
        text-align: center;
        font-style: italic;
        font-family: 'Montserrat';
    }
    
    .about{
        height: 100vh;
        background-color: white;
    }
 }
