li a:hover{
    text-decoration: none;
    /* color: white; */
}

form #submit{
    margin-top: 2.5%;
	background: linear-gradient(-45deg, #82b1ff, #4527a0, #1a237e, #82b1ff);
	background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    padding: 10px 17.5px 10px 17.5px;
    border-radius: 100px;
    border-style: none;
    font-family: 'Montserrat', 'sans-serif';
    color: white;
    cursor: pointer;
    
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button:focus{
    outline: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .brand-logo{
      font-family: 'Anurati';
  }

  ul{
    font-family: 'Montserrat', 'sans-serif';
  }

  .datepicker-date-display{
      background-color: #1a237e;
  }

  .datepicker-cancel{
      color: #1a237e;
  }

  .datepicker-done{
    color: #1a237e;
}

/* .datepicker-day-button{
    background-color: #1a237e;
} */
.datepicker-table td.is-selected
{
    background-color: #1a237e;
}

.datepicker-table td.is-today {
    color: #1a237e;
}
