body {
    background: url(../images/earth.jpg);
    background-size: 115% 115%;
    background-position: center;
    background-attachment: fixed;
}

li{
    width: 100px;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: row;
}

.intro{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.intro .container{
    margin-bottom: 20%;;
}

.title-white{
    font-size: 150;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: white;
    text-align: center;
    flex: 1;
    /* margin-bottom: 30%; */
}

.quote{
    margin-top: 5%;
    flex: 1;
    text-align: center;
    color: white;
    font-size: larger;
    font-family: monospace;
}

.search{
    margin-top: 5%;
    flex: 1;
    text-align: center;
}

input{
    width: 325px;
    padding: 15px;
    border-radius: 100px;
    border-style: none;
    opacity: 0.8;
}

input:focus{
    outline: none;
}

::placeholder{
    font-family: 'Montserrat', 'sans-serif';
    font-size: medium;
    vertical-align: center;
    padding-left: 5px;
}

.apod img{
    width: 50%;
    height: auto;
}

.title-black{
    font-size: 150;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    text-align: center;
    flex: 1;
    margin-top: 5%;
}

.apod{
    background-color: white;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.apod input{
    border: 1px solid black thin;
}

.img-output{
    display: flex;
    flex-direction: row;
}

.img-container{
    flex: 1;
}

.img-info{
    flex:1;
    color: black;
}


