body {
    background: url(../images/79376.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

ul{
    list-style-type: none;
    /* padding-left: 150px;s */
    overflow: hidden;
    flex: 1;
    display: flex;

}

li a{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: 'montserrat';
    font-size: 15px;
    font-weight: lighter;
    flex-direction: row;
    text-decoration: none;
    display: inline-block;
}

li{
    width: 100px;
    text-align: center;
}



.header{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 150;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 600;
    color: white;
    text-align: center;
    flex: 1;
    margin-top: 5%;
}

.quote{
    margin-top: 5%;
    flex: 1;
    text-align: center;
    color: white;
    font-size: large;
    font-family: monospace;
}

.search{
    margin-top: 5%;
    flex: 1;
    text-align: center;
}

input{
    width: 325px;
    padding: 15px;
    border-radius: 100px;
    border-style: none;
    opacity: 0.8;
}

input:focus{
    outline: none;
}

::placeholder{
    font-family: 'Montserrat', 'sans-serif';
    font-size: medium;
    vertical-align: center;
    padding-left: 5px;
}

p{
    color: white;
}

img{
    width: 50%;
    height: 250px;
}