<footer class="page-footer blue-grey darken-4">
    <div class="container" data-aos="fade-in" data-aos-easing="ease-in-sine"
    data-aos-delay="300"
    data-aos-offset="0">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Space Website</h5>
          <p class="grey-text text-lighten-4">Made with <i class="material-icons">favorite</i> by Prakhar Mehta</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Stay Tuned!</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#home">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#apod">Apod</a></li>
            <li><a class="grey-text text-lighten-3" href="#neo">Neo</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div data-aos="fade-zoom-out" data-aos-easing="ease-in-sine"
    data-aos-delay="300"
    data-aos-offset="0" class="footer-copyright">
      <div class="container">
      © 2020 ALL rights reserved. | Prakhar Mehta
      <a class="grey-text text-lighten-4 right" href="mailto:prakh.mehta@gmail.com"><img src="../images/icons/google-plus.svg" alt=""></a>
      <a class="grey-text text-lighten-4 right" href="https://www.instagram.com/prakharnmehta/?hl=en"><img src="../images/icons/instagram.svg" alt=""></a>
      <a class="grey-text text-lighten-4 right" href="https://linkedin.com/in/prakhar-mehta-983494180"><img src="../images/icons/linkedin.svg" alt=""></a>
      <a class="grey-text text-lighten-4 right" href="https://github.com/prakharmehta"><img src="../images/icons/github.svg" alt=""></a>
      </div>
    </div>
  </footer>