<footer class="page-footer blue-grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Space Website</h5>
          <p class="grey-text text-lighten-4">Made with <i class="material-icons">favorite</i> by Prakhar Mehta</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Stay Tuned!</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="#apod">Apod</a></li>
            <li><a class="grey-text text-lighten-3" href="#neo">Neo</a></li>
            <li><a class="grey-text text-lighten-3" href="#about">About Me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Prakhar Mehta
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>