<div class="header">
    <div class="brand">
        <span>MUSICSPACE</span>
    </div>
    
    <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/hot">HOT</a>
        </li>
        <li>
            <a href="/about">ABOUT</a>
        </li>
    </ul>
</div>
