<div class="navbar-fixed" id="nav_1">
  <nav id="navbar" class="transparent">
      <div class="nav-wrapper">
          <a href="#!" class="brand-logo">SPACE</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">HOME</a></li>
            <li><a href="#apod">APOD</a></li>
            <li><a href="#neo">NEO</a></li>
            <!-- <li><a href="#about">ABOUT</a></li> -->
          </ul>
      </div>
    </nav>
</div>
    
    
      <ul class="sidenav white" id="mobile-demo">
        <li><a href="/">HOME</a></li>
        <li><a href="#apod">APOD</a></li>
        <li><a href="#neo">NEO</a></li>
        <!-- <li><a href="#about">ABOUT</a></li> -->
      </ul>


  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {
        edge: "left",
        draggable: true        
    });
    window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 780 || document.documentElement.scrollTop > 780) {
    document.getElementById("navbar").className="indigo darken-4";
  } else {
    document.getElementById("navbar").className = "transparent";
  }
}
  });
  
  </script>
