<div class="header navbar-expand">
    <div class="navbar-brand">
        <span>SPACE</span>
    </div>
    
    <ul class="nav">
        <li class="nav-item">
            <a href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a href="/apod">APOD</a>
        </li>
        <li class="nav-item">
            <a href="/about">ABOUT</a>
        </li>
    </ul>
</div>
