        <div class="title-black">
            <span>APOD</span>
        </div>
        <div class="search">
            <form id="form1" action="">
                <input id="input1" type="text" class="datepicker" placeholder="Date">
                <br>
                <button id="submit1">Search</button>
            </form>
        </div>
        <div class="img-output">
            <div class="img-container" id="img-container-1">
                <p id="apodLiteral"></p>
            </div>
            <p id="msg1"></p>
            <div class="img-info">
                
                <p id="date"></p>
                <p id="title"></p>
                <p id="copyright"></p>
                <p id="explanation"></p>
            </div> 
        </div>
        <script>
            function today()
            {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                return date    
            }
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {
                    showClearBtn: true,
                    format: 'yyyy-mm-dd',
                    maxDate: new Date(today()),
                    autoClose: true
        
                });
            });
            document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, {
                inDuration: 275,
                outDuration: 200
            });
        });
        </script>
         
