        <div class="title-black">
            <span>APOD</span>
        </div>
        <div class="search">
            <form id="form1" action="">
                <input id="input1" type="date" placeholder="Date">
                <br>
                <button>Search</button>
            </form>
        </div>
        <div class="img-output">
            <div class="img-container" id="img-container-1">

            </div>
            <div class="img-info">
                <p id="msg1"></p>
                <p id="msg2"></p>
            </div> 
        </div>
         
