<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicSpace</title>
    <link rel="stylesheet" href="./styles/styles.css">

    <link rel="stylesheet" href="./styles/custom.css">
</head>
<body>
    <%- include('partials/header')%>
    <div class="container">
        <div class="title">
            <span>Music</span>
        </div>
        <div class="search">
            <form action="">
                <input type="text" placeholder="Song">
                <br>
                <button>Search</button>
            </form>
        </div>  
    </div>
    <%- include('partials/footer')%>
</body>
</html>