<div data-aos="fade-down" data-aos-easing="ease-in-sine"
data-aos-delay="300"
data-aos-offset="0" class="title-black">
    <span>NEO</span>
</div>
<div class="search">
    <form id="form2" action="">
        <input id="input2" type="text" class="datepicker" placeholder="Date">
        <br>
        <button id="submit2">Search</button>
    </form>
</div>

<div class="neo-output">    
    <div class="neo-info" data-aos="fade-right" data-aos-easing="ease-in-sine"
    data-aos-delay="300"
    data-aos-offset="0" class="search">
        <ul class="collapsible popout" id="neo-info">
            <!-- <li>
              <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li> -->
          </ul>
    </div>
    
    <!-- <div class="img-container-neo">

    </div> -->
</div>
<p id="msg2">This page shows the Near Earth Objects by Date</p>
<script>
  document.addEventListener('DOMContentLoaded', function() {
                var elems = document.getElementById('input2');
                var instances = M.Datepicker.init(elems, {
                    showClearBtn: true,
                    format: 'yyyy-mm-dd',
                    autoClose: true,
                    minDate: new Date('1900-01-01')
        
                });
            });
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {accordion: true});
  });
</script>